body {
  padding: 1.5rem 10rem; 
  font-family: Georgia, "Times New Roman", serif;
  color: purple;
  background-color: #d8da3d;
}
h1 {
  color: rgb(50, 206, 76); 
}
h2 {
  color: purple; 
}
header {
  border: .5rem solid blue;
  background-color: rgb(240, 32, 32);
}
img {
  margin: .5rem 1rem;
}
.comic {
  font-family: "Comic Sans MS", Arial, sans-serif;
}
#link {
  border: .5rem solid rgb(231, 49, 161);
  display: inline-block; 
}